{% extends 'base.html' %}

{% block content %}
  <div class="sidebar">
    <div class="menu-icon">≡</div>
    <div class="add-chat-icon">💬+</div>
  </div>
  <div class="chat-container">
    <div class="user-icon">👤</div>
    <div class="header">CHATBOOK</div>
    <div id="chat-box">
      <div class="message user">Olá!</div>
      <div class="message bot">Olá! Como vai você?</div>
    </div>
    <form class="chat-input" action="/send" method="POST">
      <input type="text" name="message" placeholder="Digite sua mensagem..." required>
      <button type="submit">📨</button>
    </form>
  </div>
{% endblock %}
